html {
  background-color: #eaeefa;
  padding: auto;
  margin: auto;
}

#bodyArt{
  background-color: yellow;
  padding: auto;
  margin: auto;
}

#section {
  font-size: 2rem;
  letter-spacing: -1px;
  margin: 1px;
  color: rgb(3, 3, 3);
  padding: 4px 1px 1px 1px;
  background-color: #e8e9a9;
  box-sizing: 100%;
}
.container {
  padding: auto;
  width: 40%;
  margin: auto;
  text-align: justify;
  letter-spacing: 1px;
  box-sizing: border-box;
  box-sizing: 80%;
}

#tituloArt { 
  font-size: 80px;
  color: rgb(12, 12, 184);
  border: 6px solid rgb(158, 9, 9);
  background-color: #eaeefa;
  text-align: center;
}

#tituloExpEsp {
  font-size: 80px;
  color: rgb(221, 43, 12);
  text-align: center;
}

#p1 {
  font-size: 2rem;
  letter-spacing: -1px;
  margin: 0.001em 0.1em 0.1em 0.1em;
  color: rgb(12, 12, 184);
  padding: 20px 20px 20px 20px;
  border: 3px solid rgb(158, 9, 9);
  background-color: #eaeefa;
}
#p2 {
  font-size: 2rem;
  letter-spacing: -1px;
  margin: 0.001em 0.1em 0.1em 0.1em;
  color: rgb(25, 167, 6);
  padding: 50px 20px 20px 20px;
}
